:root {
  --primary: #8fbc8f;
  --bg: #fff8dc;
  --bgnav: #bdb76b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--bg);
  border-bottom: 1px solid var(--primary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  font-style: italic;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: green;
  display: flex;
  align-items: center;
}

.navbar .navbar-logo img {
  height: 50px;
  width: auto;
}

.navbar .navbar-nav a {
  color: green;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.8);
}

.navbar .navbar-eks {
  display: flex;
  align-items: center;
}

.navbar .navbar-eks a {
  color: green;
  margin: 0 0.5rem;
}

.navbar .navbar-eks a:hover {
  color: var(--primary);
}

.navbar .navbar-eks .navbar-user {
  color: green;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar .navbar-eks .navbar-user img {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

#menu {
  display: none;
}

.navbar-user-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 6px;
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: var(--bg);
}

/* Navbar selesai */
/* Shopping Cart mulai */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: var(--bgnav);
  color: white;
  transition: 0.3s;
}
.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}
.shopping-cart img {
  height: 6rem;
  border-radius: 25%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}
.shopping-cart .item-price {
  font-size: 1.2rem;
}
.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.shopping-cart .remove-item:hover {
  color: green;
}

/* Shopping Cart selesai*/

/* Profile mulai */
.profile-container {
  background-color: var(--primary);
  padding: 30px 7%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  margin-top: 10rem;
  margin-bottom: 8rem;
}
.produk-container {
  background-color: var(--primary);
  padding: 30px 7%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  margin: 10rem;
}

.produk-container .profile {
  margin-top: 5rem;
}

.profile-container .profile {
  margin-right: 5rem;
  margin-top: 5rem;
}

.profile-picture-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid #ddd;
  transition: border-color 0.3s ease;
}
.foto-produk {
  position: relative;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto 20px;
  border-radius: 5%;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid #ddd;
  transition: border-color 0.3s ease;
}

.foto-produk1 {
  /* position: relative; */
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto 20px;
  border-radius: 5%;
  overflow: hidden;
  border: 3px solid #ddd;
  margin-right: 4rem;
  background-color: var(--bg);
}
.foto-produk1 .profile-picture,
.foto-produk .profile-picture {
  max-height: 300px;
  max-width: 300px;
  min-height: 300px;
}
.profile-picture-wrapper:hover {
  border-color: #007bff;
}
.foto-produk:hover {
  border-color: #007bff;
}

.profile-picture {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  display: block;
}
.profile-picture1 {
  width: 100%;
  height: 100%;
}
.upload-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
}

.uploadOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5%;
}

.profile-picture-wrapper:hover .upload-overlay {
  opacity: 1;
}

.foto-produk:hover .uploadOverlay {
  opacity: 1;
}

input[type="file"] {
  display: none;
}

.profile-name {
  font-size: 1.8em;
  margin-bottom: 5px;
  color: black;
  border-bottom: 3px solid #eee;
}

.profile-details {
  text-align: left;
  margin-top: 20px;
  padding-top: 20px;
}
.produk-detail {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
}
.profile-details p {
  margin: 8px 0;
}

.profile-details strong {
  color: black;
  margin-right: 5px;
  border-bottom: 3px solid #eee;
}

.profile-details a {
  color: blue;
}

.profile-details a:hover {
  color: red;
}
.addTo {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}
.alamat-detail {
  margin-top: 3rem;
}

.alamat-detail p {
  max-width: 23rem;
}

.produk-form input {
  width: 80%;
  padding: 12px 7%;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.daftar-btn {
  width: 80%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
}

/* Media responsif(queries) */

/* Responsif Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Responsif Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #bdb76b;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: white;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:hover {
    color: green;
  }

  .navbar .navbar-nav a::after {
    border-bottom: 0.1rem solid green;
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }

  /* Profile */
  .profile-container,
  .produk-container {
    display: block;
  }

  .profile {
    margin-right: 0;
  }
  .foto-produk,
  .foto-produk1 {
    width: 230px;
    height: 230px;
  }
}

/* Responsif Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
