:root {
  --primary: #8fbc8f;
  --bg: #fff8dc;
  --bgnav: #bdb76b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: black;
  /* min-height: 2000px; */
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer; /* agar ada tanda berubah  */
}

.delete-btn:hover {
  background-color: #c0392b;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--bg);
  border-bottom: 1px solid var(--primary);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  font-style: italic;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: green;
  display: flex;
  align-items: center;
}

.navbar .navbar-logo img {
  height: 50px;
  width: auto;
}

.navbar .navbar-nav a {
  color: green;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.3s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.8);
}

.navbar .navbar-eks {
  display: flex;
  align-items: center;
}
.navbar .navbar-eks a {
  color: green;
  margin: 0 0.5rem;
}

.navbar .navbar-eks a:hover {
  color: var(--primary);
}

.navbar .navbar-eks .navbar-user {
  color: green;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar .navbar-eks .navbar-user img {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

#menu {
  display: none;
}

.navbar-user-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border-radius: 6px;
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: var(--bg);
}

/* navbar search form mulai */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: white;
  width: 30rem;
  height: 3rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: green;
  padding: 1rem;
}

.navbar .search-form button {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: green;
  background-color: white;
}
/* navbar search form selesai*/

/* Shopping Cart mulai */
#shopping-cart-button {
  position: relative;
}

.quantity-badge {
  display: inline-block;
  padding: 1px 5px;
  background-color: red;
  border-radius: 6px;
  font-size: 0.6rem;
  position: absolute;
  top: 0;
  right: -13px;
}
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: var(--bgnav);
  color: white;
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 25%;
}
.shopping-cart .cartItem .itemDetail h3 {
  max-width: 3rem;
}
.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}
.shopping-cart .item-price {
  font-size: 1.2rem;
}
.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.shopping-cart .remove-item:hover {
  color: green;
}

/* Shopping Cart selesai*/

/* keranjang belanjan mulai */
.alamat span {
  font-weight: 1000;
}
.Paymen label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}
.Paymen select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}
.shoppingCart {
  margin-top: 1;
  padding: 1.4rem 7%;
}
.shoppingCart .cartItem,
.shoppingCart .orderlist {
  margin: 2 rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
  font-size: 1rem;
}
.shoppingCart .orderlist {
  cursor: pointer;
}
.shoppingCart .orderlist:hover {
  background-color: var(--primary);
}
.shoppingCart .cartItem .itemDetail h3 {
  max-width: 10rem;
  min-width: 10rem;
  font-size: 1.1rem;
  white-space: normal; /* biarkan teks bisa turun ke bawah */
  word-wrap: break-word; /* pecah kata panjang kalau perlu */
}
.shoppingCart img {
  height: 7rem;
  width: auto;
  border-radius: 25%;
}
.shoppingCart .removeItem {
  cursor: pointer;
}
.shoppingCart .cartItem .kali,
.shoppingCart .cartItem .qty-btn {
  font-size: 1.5rem;
}
.shoppingCart .removeItem:hover {
  color: blue;
}
.shoppingCart .cartItem .qty-btn {
  padding: 6px 8px;
  background-color: var(--primary);
  cursor: pointer;
}

.order-btn {
  background-color: var(--primary);
  border: none;
  padding: 20px 40px;
  border-radius: 6px;
  cursor: pointer;
  float: right;
  font-size: 1rem;
}

.edit-btn {
  background-color: var(--primary);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}
.order-btn:hover,
.edit-btn:hover,
.shoppingCart .cartItem .qty-btn:hover {
  background-color: green;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.total {
  display: flex;
}
/* keranjang belanjan mulai */

/* hero section mulai*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  background: linear-gradient(0deg, var(--bg) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
  color: white;
}

.hero .content h1 {
  font-size: 5em;
  text-shadow: 10px 10px 15px rgba(1, 1, 3, 0.5);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4rem;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  mix-blend-mode: difference;
}

.cta {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: white;
  background-color: var(--primary);
  border-radius: 8rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.cta:hover {
  background-color: green;
}
/* hero section selesai */

/* Tentang kami mulai */
.about,
.provide,
.addres,
.tabel-container,
.keranjang {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.provide h2,
.addres h2,
.keranjang h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.addres h2 span {
  color: green;
}

.about .content {
  text-align: center;
  max-width: 40rem;
  margin: auto;
  font-size: 1.1rem;
  line-height: 1.5;
}
.about .tran {
  text-align: left;
  max-width: 40rem;
  margin: auto;
  font-size: 1.1rem;
  line-height: 1.5;
}
.tran span {
  color: green;
  text-decoration: underline;
}
.img {
  width: 20rem;
  height: auto;
}
.about .content h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.about .content p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.provide p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
}

.provide .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}

.provide-card {
  text-align: center;
  margin-left: 4rem;
  margin-right: 4rem;
}

.provide-card img {
  border-radius: 50%;
  width: 200px;
  /* height: 80%; */
}
.provide-title {
  margin-top: 1rem;
}
/* tentang kami selesai */

/* Lokasi map mulai */
.addres .row {
  margin-top: 2rem;
}

.addres .row .map {
  flex: 1 1 45rem;
  width: 100%;
  height: 35rem;
}

.addres .row p {
  text-align: center;
  font-weight: 700;
}

.addres .row p span {
  color: green;
}
/* Lokasi map selesai */
/* produk mulai */
.produk {
  padding: 8rem 7% 1.4rem;
}

.produk h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.produk p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
}

.produk .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  margin-top: 4rem;
}

.product-card {
  text-align: center;
  border: 1px solid green;
  padding: 2rem;
}
.belanja {
  cursor: pointer;
}
.produk .product-icons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.produk .product-icons a {
  width: 4rem;
  height: 4rem;
  color: black;
  margin: 0.3rem;
  border: 1px solid green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.produk .product-icons a:hover {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}
.produk .product-image {
  padding: 1rem 0;
}

.produk .product-content h3 {
  font-size: 1.5rem;
}
.product-image .gambar {
  height: 13rem;
  max-width: 22rem;
}
.produk .product-price {
  font-size: 1.1rem;
  font-weight: bold;
}

/* produk selesai */
/* footer mulai */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .sosial a {
  color: var(--bg);
  margin: 1rem;
}

footer .sosial a:hover {
  color: black;
}
.contact {
  display: flex;
  justify-content: center;
  color: var(--bg);
}
.contact h4 {
  display: flex;
  margin: 1rem;
  color: var(--bg);
}
/* footer selesai */

/* Tabel mulai */
.table-container {
  padding: 8rem 7% 1.4rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow-x: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.table-container .long p {
  max-width: 200px;
  white-space: normal; /* izinkan turun baris */
  overflow-wrap: anywhere;
}
.table-container h2 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: var(--primary);
  text-align: left;
}

th,
td {
  padding: 12px 16px;
  border-bottom: 1px solid var(--primary);
}

td img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
}

td a img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

tr:hover {
  background-color: var(--primary);
}

.form-search input {
  padding: 20px 7%;
  width: 80%;
  color: green;
  padding: 1rem;
}

.btn-search {
  padding: 18px 36px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}
.btn-search {
  background-color: #2980b9;
}
.btn-kategori {
  padding: 8px 16px;
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-right: 8px;
}

.btn-kategori:hover {
  background-color: green;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

/* Tabel Selesai */

/* POP UP form  mulai*/
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}
/* Popup content box */
.popup-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
}

/* Form styling */
.editpop {
  display: flex;
  flex-direction: column;
}

.editpop label {
  margin-top: 10px;
  font-weight: bold;
}
.editpop select {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.editpop button {
  margin-top: 15px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editpop button:hover {
  background-color: #45a049;
}
/* POP UP form selesai */

/* Modal Box */
/* Item Detail */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

/* item detai selesai */

/* Media responsif(queries) */

/* Responsif Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Responsif Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--bgnav);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: white;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a:hover {
    color: green;
  }
  .navbar .navbar-nav a::after {
    border-bottom: 0.1rem solid green;
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }

  .shoppingCart img {
    height: 5rem;
  }

  .delete-btn {
    padding: 4px 8px;
  }

  .shoppingCart .removeItem {
    height: 4;
    width: 4;
  }
  .order-btn {
    padding: 15px 30px;
  }
  .edit-btn {
    font-size: 1rem;
  }
}
/* Responsif Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .delete-btn {
    padding: 2px 4px;
  }

  .shoppingCart .removeItem {
    height: 2;
    width: 2;
  }

  .order-btn {
    padding: 8px 16px;
  }

  .edit-btn {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
}
