<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hz Tani</title>
    <link rel="icon" type="image/png" href="../images/log.png" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
    <!-- feather icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <!-- mulai Navbar  -->
    <nav class="navbar">
      <a href="#" class="navbar-logo"><img src="/images/log.png" />Hs Tani</a>
      <div class="navbar-nav">
        <a href="/dasboardAdmin">Home</a>
        <a href="/dasboardAdmin#user">User</a>
        <a href="/produkAdmin">Produk</a>
        <a href="/produkAdmin/Transaksi">transaksi</a>
        <a href="#contact">Kontak</a>
      </div>
      <div class="navbar-eks">
        {{ if .isLoggedIn }}
        <div class="navbar-user-dropdown">
          <a href="#" class="navbar-user" onclick="toggleDropdown()">
            <img src="{{ .avatar }}" alt="User" />
            {{ .user.Name }}
          </a>
          <div class="dropdown-menu" id="userDropdown">
            <a href="/logout">Logout</a>
          </div>
        </div>
        <!-- <a href="#" id="Shopping-cart"> <i data-feather="shopping-cart"></i></a> -->
        {{ else }}
        <a href="/login" class="login-link">Login</a
        ><a href="/register" class="login-link">/ register</a>
        {{ end }}

        <a href="#" id="menu"> <i data-feather="menu"></i></a>
      </div>
    </nav>
    <!-- selesai Navbar -->
    <!-- profile mulai -->
    <div class="profile-container">
      <div class="profile">
        <input
          type="file"
          id="profileImageInput"
          accept="image/*"
          style="display: none"
        />
        <div
          class="profile-picture-wrapper"
          onclick="window.location.href = '/profile/saveAvatar'"
        >
          <img
            src="/{{ .avat }}"
            alt="User"
            class="profile-picture1"
            id="profilePicture"
          />
          <div class="upload-overlay">
            <span>Ubah Foto</span>
          </div>
        </div>
        <h2 class="profile-name">{{ .users.Name}}</h2>
      </div>

      <div class="profile-details">
        <table>
          <tbody>
            <tr>
              <th>Email</th>
              <td>: {{.users.Email}}</td>
            </tr>
            <tr>
              <th>Phone</th>
              <td>: {{.users.Phone}}</td>
            </tr>
            <tr>
              <th>Created At</th>
              <td>: {{.users.CreatedAt}}</td>
            </tr>
          </tbody>
        </table>

        <div class="alamat-detail">
          <p><strong>Alamat </strong></p>
          <table>
            <tbody>
              <tr>
                <th>Provinsi</th>
                <td>: {{.users.Addres.Provinsi}}</td>
              </tr>
              <tr>
                <th>Kabupaten</th>
                <td>: {{.users.Addres.Kabupaten}}</td>
              </tr>
              <tr>
                <th>Kecamatan</th>
                <td>: {{.users.Addres.Kecamatan}}</td>
              </tr>
              <tr>
                <th>Desa</th>
                <td>: {{.users.Addres.Desa}}</td>
              </tr>
              <tr>
                <th>Jalan</th>
                <td>: {{.users.Addres.Jalan}}</td>
              </tr>
              <tr>
                <th>Rt</th>
                <td>:{{.users.Addres.Rt}}</td>
              </tr>
              <tr>
                <th>Rw</th>
                <td>: {{.users.Addres.Rw}}</td>
              </tr>
              <tr>
                <th>No Rumah</th>
                <td>: {{.users.Addres.NoRm}}</td>
              </tr>
              <tr>
                <th>Kode Pos</th>
                <td>: {{.users.Addres.KodePos}}</td>
              </tr>
              <tr>
                <th>Detai Alamat</th>
                <td>:</td>
              </tr>
            </tbody>
          </table>
          <p>{{.users.Addres.Deskripsi}}</p>
        </div>
      </div>
    </div>
    <!-- profile selesai -->
  </body>

  <!-- feather icons  -->
  <script>
    feather.replace();
  </script>

  <script src="/js/indexScrip.js"></script>
</html>
