<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hz Tani</title>
    <link rel="icon" type="image/png" href="../images/log.png" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />
    <!-- feather icons -->
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <!-- mulai Navbar  -->
    <nav class="navbar">
      <a href="/dasboard" class="navbar-logo"
        ><img src="../images/log.png" />Hs Tani</a
      >
      <div class="navbar-nav">
        <a href="/dasboard">Home</a>
        <a href="/dasboard#about">Tentang Kami</a>
        <a href="/produk">Produk</a>
        <a href="/dasboard#contact">Kontak</a>
      </div>
      <div class="navbar-eks">
        {{ if .isLoggedIn }}
        <div class="navbar-user-dropdown">
          <a href="#" class="navbar-user" onclick="toggleDropdown()">
            <img src="{{ .avatar }}" alt="User" />
            {{ .user.Name }}
          </a>
          <div class="dropdown-menu" id="userDropdown">
            <a href="/profile">Profile</a>
            <a href="/produk/transaction">Transaksi</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <a href="/produk/Keranjang" id="shopping-cart-button">
          <i data-feather="shopping-cart"></i>
          <span class="quantity-badge" id="cart-count">0</span>
        </a>
        {{ else }}
        <a href="/login" class="login-link">Login</a
        ><a href="/register" class="login-link">/ register</a>
        {{ end }}

        <a href="#" id="menu"> <i data-feather="menu"></i></a>
      </div>
    </nav>
    <!-- selesai Navbar -->

    <!-- profile mulai -->
    <div class="profile-container">
      <div class="profile">
        <input
          type="file"
          id="profileImageInput"
          accept="image/*"
          style="display: none"
        />
        <div
          class="profile-picture-wrapper"
          onclick="window.location.href='/profile/saveAvatar'"
        >
          <img
            src="{{ .avatar }}"
            alt="User"
            class="profile-picture1"
            id="profilePicture"
          />
          <div class="upload-overlay">
            <span>Ubah Foto</span>
          </div>
        </div>
        <h2 class="profile-name">{{ .user.Name}}</h2>
      </div>

      <div class="profile-details">
        <table>
          <tbody>
            <tr>
              <th>Email</th>
              <td>: {{.user.Email}}</td>
            </tr>
            <tr>
              <th>Phone</th>
              <td>: {{.user.Phone}}</td>
            </tr>
            <tr>
              <th>Created At</th>
              <td>: {{.user.CreatedAt}}</td>
            </tr>
          </tbody>
        </table>

        <a href="/profile/password">Ganti password </a>

        <div class="alamat-detail">
          <p><strong>Alamat </strong></p>
          <table>
            <tbody>
              <tr>
                <th>Provinsi</th>
                <td>: {{.user.Addres.Provinsi}}</td>
              </tr>
              <tr>
                <th>Kabupaten</th>
                <td>: {{.user.Addres.Kabupaten}}</td>
              </tr>
              <tr>
                <th>Kecamatan</th>
                <td>: {{.user.Addres.Kecamatan}}</td>
              </tr>
              <tr>
                <th>Desa</th>
                <td>: {{.user.Addres.Desa}}</td>
              </tr>
              <tr>
                <th>Jalan</th>
                <td>: {{.user.Addres.Jalan}}</td>
              </tr>
              <tr>
                <th>Rt</th>
                <td>:{{.user.Addres.Rt}}</td>
              </tr>
              <tr>
                <th>Rw</th>
                <td>: {{.user.Addres.Rw}}</td>
              </tr>
              <tr>
                <th>No Rumah</th>
                <td>: {{.user.Addres.NoRm}}</td>
              </tr>
              <tr>
                <th>Kode Pos</th>
                <td>: {{.user.Addres.KodePos}}</td>
              </tr>
              <tr>
                <th>Detai Alamat</th>
                <td>:</td>
              </tr>
            </tbody>
          </table>
          <p>{{.user.Addres.Deskripsi}}</p>
          <a href="/profile/addres">Update Alamat </a>
        </div>
      </div>
    </div>
    <!-- profile selesai -->
  </body>

  <!-- feather icons  -->
  <script>
    feather.replace();
  </script>
  <!-- javscript -->
  <script src="/js/indexScrip.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    const success = "{{ .success }}";
    if (success) {
      Swal.fire({
        icon: "success",
        title: success,
        timer: 2000,
        showConfirmButton: false,
      });
    }
  </script>
</html>
